In [1]:
import h5py as hd
import pandas as pd
import numpy as np

In [2]:
filename = "E:\\python folder\\hf5\\A.H5"

# Creating random array

In [3]:
array1 = np.random.random(size = (90,100))
array2 = np.random.random(size = (20,50))

# Codes to write data to HDF5 file

In [4]:
with hd.File(filename , 'w') as data:
    data.create_dataset( "data1" ,data = array1 )
    data.create_dataset( "data2" ,data = array2 )

# To read HDF file

In [5]:
b = hd.File(filename , "r")

# To get the list of keys inside the HDF5 file

In [6]:
a = list(b.keys())
a

['data1', 'data2']

# To convert numpy array to Pandas DataFrame

In [7]:
keydata = b.get('data2')
nparr = np.array( keydata )
df = pd.DataFrame(nparr )
print(df.shape)
df.sample(2 , replace = True)

(20, 50)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
11,0.390006,0.597011,0.545424,0.444779,0.881712,0.577452,0.422044,0.001455,0.803427,0.187111,...,0.025640,0.808242,0.204285,0.063011,0.715049,0.007230,0.061695,0.528889,0.459616,0.547010
4,0.424311,0.988633,0.681934,0.730147,0.254760,0.443450,0.420347,0.091770,0.337699,0.583868,...,0.888653,0.003202,0.898822,0.964073,0.419545,0.960062,0.473940,0.704868,0.626791,0.099955

# To create groups and subgroups in HDF5

In [8]:
filename2 = "E:\\python folder\\hf5\\try.H5"

with hd.File(filename2 , "w") as f:
    group1 = f.create_group("grp1/subgrp1")
    group1.create_dataset("data3" , data = array2)
    
    group2 = f.create_group("grp1/subgrp2")
    group2.create_dataset("data4" , data = array1)

In [9]:
file2 = hd.File(filename2 , "r")

In [10]:
list2 = list(file2.items())
list2

[('grp1', <HDF5 group "/grp1" (2 members)>)]

# To access data in subgroups

In [11]:
g1 = file2.get("/grp1/subgrp1")
listg1 = list(g1.items())
listg1
#d = list(c.items())
#d

[('data3', <HDF5 dataset "data3": shape (20, 50), type "<f8">)]

In [12]:
nparr2 = np.array(g1.get("data3"))
nparr2.shape

(20, 50)